.button {
	position: relative;
	width: 189px;
	height: 48px;
	border-radius: 8px;
	border-width: 1px;
	border-style: solid;
	font-family: Roboto;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	text-align: center;
	color:  var(--white);
	background: var(--colorhist);
	border-color: var(--colorhist);
}


.button_default:hover {
	background: var(--blue-1); 
	border-color: var(--blue-1);
	cursor: pointer;
}
