

.page {
	background: var(--white-1); 
	height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-row-gap: 36px;
	grid-template-areas: "header" "main" "footer";
}

.page__header {
	height: 82px;
	grid-area: header;
	background: var(--white);
}

.page__main {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-column-gap: 56px;
	grid-area: main;
}

.page__footer {
	text-transform: uppercase;
	height: 130px;
	display: flex;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.04em;
	color: var(--grey-3);
	font-size: 12px;
	line-height: 18px;
	background: var(--white-1);
	grid-area: footer;
}